<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="footer">
    <div class="container">
        <div class="left-section">
            <a class="logo" href="/">
                <img loading="lazy" decoding="async" src="/assets/images/logo_dark.png" alt="logo" width="264"
                    height="78">
            </a>
        </div>
        <div class="right-section">
            <div class="lists">
                <ul>
                    <li>
                        <h2>Information</h2>
                    </li>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/about">About Us</a>
                    </li>
                    <li>
                        <a href="/reviews">Reviews</a>
                    </li>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <h2>Our Services</h2>
                    </li>
                    <li><a href="/asphalt-paving/">Asphalt Paving</a></li>
                    <li><a href="/commercial-parking-lots/">Commercial Parking Lots</a></li>
                    <li><a href="/sealcoating-maintenance/">Sealcoating & Maintenance</a></li>
                    <li><a href="/asphalt-resurfacing/">Asphalt Resurfacing</a></li>
                    <li><a href="/residential-paving/">Residential Paving</a></li>
                    <li><a href="/asphalt-millings/">Asphalt Millings</a></li>
                    <li><a href="/removal-replacement/">Removal & Replacement</a></li>
                    <li><a href="/parking-lot-repair/">Parking Lot Repair</a></li>
                </ul>
                <ul>
                    <li>
                        <h2>Contact</h2>
                    </li>
                    <li>
                        <a href="https://www.google.com/maps/search/?api=1&query=Michigan">Serving Michigan<br>Oakland, Livingston, Wayne & Macomb Counties</a>
                    </li>
                    
                    <li>
                        <a href="tel:2488895357">T: (248) 889-5357</a>
                    </li>
                    <li>
                        <a href="mailto:asphaltexpresspaving7@gmail.com">Click to Email</a>
                    </li>
                </ul>

            </div>
        </div>
    </div>

    <div class="credit">
        <span>Designed and Hand Coded by</span>
        <a href="https://www.kalamazoowebsitedesign.com" target="_blank" rel="noopener">Kalamazoo Website Design</a>
        <span class="copyright"> Copyright 2025 - Present</span>
    </div>
</footer>